@import "../../colors.scss";

.Post {
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem 4rem 8rem;
  font-size: 2rem;
  line-height: 4rem;

  &Title {
    padding-bottom: 2rem;
  }

  &Body {
    text-align: start;
  }

  &User {
    padding-block: 0.5rem;
  }

  hr {
    display: block;
    width: 100%;
    height: 2px;
    margin-block: 1rem;
    border: 1px solid $black;
  }

}