@use '../../colors.scss' as colors;

.Post {
    display: flex;
    flex-direction: column;
    padding: 4rem 8rem 4rem 8rem;
    font-size: 2rem;
    line-height: 4rem;
    animation: scale-up 0.5s ease forwards;

    @keyframes scale-up {
        from {
            transform: scale(0.95);
        }
        to {
            transform: scale(1);
        }
    }

    &Title {
        padding-bottom: 2rem;
    }

    &Body {
        text-align: start;
    }

    hr {
        display: block;
        width: 100%;
        height: 2px;
        margin-block: 1rem;
        border: 1px solid colors.$black;
    }
}
