.PostList {
  width: 80%;
  max-width: 160rem;
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 4rem 2rem 4rem;
  font-size: 2rem;
  gap:4rem;

  &Loading, &Error {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 3rem;
    text-align: center;
    margin-inline: auto;
  }

  &Post {
    border: 2px solid #0D0D0D;
    border-radius: 10px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &Title {
      font-size: 3rem;

    }

    &Body {
      margin-block: 1.6rem;
    }

    &Link {
      color:#F2F2F2;
      transition: color 0.3s ease, translate 0.3s ease;
      background-color: #0D0D0D;
      width: -webkit-fill-available;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
      &:hover {
        color: #BFB2A3;
        translate: 0px -5px;
      }
    }
  }

}

