* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;

  body {
    background-color: #F2F2F2;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
  }

  a {
    font-weight: 500;
    color: #F2F2F2;
    text-decoration: none;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #0D0D0D;
    cursor: pointer;
    transition: border-color 0.25s;
  }

}